<div class="container">
  <div class="title">
    <h1>Result</h1>
  </div>
  <p><%= @message_good %></p>
  <p><%= @message_not_in_grid %></p>
  <p><%= @message_not_in_english %></p>

  <div class="container text-center">
    <a href="/new" class="btn btn-primary">
    <%# <%= link_to 'Play again', new_path %>
      Play again
    </a>
  </div>
</div>
